.env
__pycache__/**
test/__pycache__/**
data/**
!data/*_template.json
!data/flights/
!data/flights/**
data/flights/**/flight_offers.json
data/flights/**/flight_offer_request.json
data/flights/**/flight_offer_request_business.json
data/flights/**/flight_offer_request_economy.json
**/.DS_Store
